@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.main a {
  color: aqua;
  font-weight: bold;
}

.main p{
  font-size: 20px;
  margin-top: 15px;
}
.main img{
  transition: transform 0.3s ease; /* Animación al hover */
  margin-left: 30px;
}

.main img:hover{
  transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
}

main i {
  margin-top: 1em;
  box-shadow: 1px 3px 11px -5px black;
}

.btn-cv {
  display: inline-block;
  text-decoration: none;
  background-color: #0d112c; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 16px;
  padding: 10px 20px; /* Tamaño del botón */
  border: none;
  border-radius: 30px; /* Botón redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animación suave */
  cursor: pointer;
  margin-top: 20px;
}

/* Efecto hover */
.btn-cv:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background-color: #23263b; /* Cambia el color de fondo */
}

/* Ícono dentro del botón */
.btn-cv i {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
  font-size: 18px;
  text-align: center;
  margin-top: auto;
}

.wrapper, 
.portfolio {
  width: 100%;
  height: auto;
  background-color: #23263b;
  color: white;
}

.DivNavegador {
  position: fixed;
  top: 0; /* El menú queda fijo en la parte superior */
  width: 100%; /* Ocupar todo el ancho de la pantalla *
  z-index: 1000; /* Asegurar que esté por encima de otros elementos */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Añade sombra */
  background-color:#23263b; /* Fondo para visibilidad */
}

.Navegador {
  display: flex;
  justify-content: center; /* Centra los elementos dentro del contenedor */
  padding: 1em;
  gap: 2em; /* Espacio entre cada opción del navegador */
  align-items: center;
}

.Navegador a { /* Estilo para los enlaces del navegador */
  text-decoration: none; /* Eliminar subrayado */
  color: black; /* Color de texto */
  padding: 0.5em 1em; /* Añade espacio interno para mejor clicabilidad */
  transition: color 0.3s ease; /* Efecto suave al pasar el ratón */
}

.Navegador a:hover {
  color: white !important; /* Cambiar color al pasar el ratón */
  background-color: black !important;
  border-radius: 1rem;
}

.Logo span {
  color: aqua;
}

.Logo {
  margin-top: -7px;
}

.Menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.Menu li {
  list-style: none;
}

.Menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.Menu a:hover {
  background-color: aqua;
  color: #23263b;
  font-weight: bold;
  transition: ease-in .4s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 2em;
  padding: 2em;
}

h1 {
  font-size: 3em;
}

span {
  color: aqua;
}

.descargar-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.img-perfil{
  border-radius: 1rem;
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
}

.descargar-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 300px;
  border: 7px solid #3f446d;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.portfolio-heading{
  font-size: 25px;
  margin-top: 5px;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.tech-list {
  display: flex; /* Flexbox para diseño en filas */
  flex-wrap: wrap; /* Permite que las imágenes pasen a una nueva fila si no hay espacio */
  justify-content: space-between; /* Espaciado uniforme entre imágenes */
  gap: 1rem; /* Espaciado entre filas */
}

.tech-list img {
  max-width: 120px; /* Ajusta el tamaño máximo de las imágenes */
  object-fit: contain; /* Asegura que las imágenes no se deformen */
  transition: transform 0.3s ease; /* Efecto de hover opcional */
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
border-radius: 1rem
}

.JavaScriptClass img{
  max-width: 175px;
}

.tech-list img:hover {
  transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #23263b;
}

.descripcion{
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75);
  border-radius: 1rem;
  background-color: #0d112c;
  padding: 1em;
  margin-bottom: 2em;
  color: white;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  font-weight: bold;
}

.portfolio {
  min-height: 100vh; /* La sección siempre tendrá al menos el tamaño de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 40px 20px; /* Espaciado interno */
  gap: 30px; /* Espaciado entre los elementos */
}

/* Estilos actualizados */

.contenedor {
  margin-top: -60px;
  display: grid; /* Usamos Grid en lugar de Flexbox */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dos columnas flexibles */
  gap: 20px; /* Espaciado entre filas y columnas */
  justify-content: center; /* Centra las columnas horizontalmente si sobran espacios */
  width: 100%; /* Ajusta el ancho del contenedor */
  padding: 20px 0; /* Espaciado interno */
}

.InfoProyecto {
  background: #0d112c; /* Fondo opcional */
  border: 1px solid #0d112c; /* Bordes opcionales */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye el padding y el border en el tamaño */
  transition: transform 0.3s ease; /* Animación al hover */
  width: 80%;
}



.InfoProyecto p {
  width: 100%;
  text-align: justify; /* Justificación del texto */
  font-size: 14px; /* Tamaño del texto */
}

.subTitulos {
  display: flex;
  flex-direction: column; /* Organiza el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  margin: 0;
  padding: 20px 0; /* Espaciado interno */
  box-sizing: border-box;
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
  border-radius: 1rem;
  background-color: #0d112c;
  transition: transform 0.3s ease; /* Animación al hover */
  text-align: center; /* Centra el contenido de texto */
}

.subTitulos:hover {
  transform: scale(1.05); /* Efecto de zoom */
}

.InfoProyectos {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.InfoProyectos p {
  margin-left: 20px; /* Espaciado a la izquierda del texto */
  font-style: italic; /* Texto en cursiva */
  text-align: justify; /* Justificación del texto */
}

.fa-brands {
  font-size: 30px;
  color: aqua;
  cursor: pointer;
}

.contenedor-contacto {
  padding: 3em;
}

.contenedor-contacto img {
  bottom: 0px;
}

.contacto h2 {
  font-size: 2.5em !important;
  margin-right: 65px;
  margin-top: 10px !important;
  color: #23263b;
}

.contacto {
  display: flex; /* Activa flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center; /* Alinea el texto al centro (opcional) */
  background-color: #ffffff; /* Fondo opcional */
}


.divider2{
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-right: 65px !important;
  margin-top: 10px !important;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column; /* Organiza el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  margin: 0;
  padding: 20px 0; /* Espaciado interno */
  box-sizing: border-box;
  box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 10px 10px 11px 2px rgba(0,0,0,0.75) inset;
  border-radius: 1rem;
  background-color: #0d112c;
  transition: transform 0.3s ease; /* Animación al hover */
  text-align: center; /* Centra el contenido de texto */
}

.contenedor-contacto:hover{
  transform: scale(1.05); /* Efecto de zoom */
}



.contacto h4{
  color: #fff;
}

.formulario input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #fff;
}

.formulario textarea {
  background-color: #1a1a1a; /* Fondo oscuro para contraste */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #333; /* Borde para visibilidad */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Separación entre campos */
  width: 100%; /* Ajusta el ancho al contenedor */
  box-sizing: border-box; /* Incluye el padding en el tamaño */
  font-size: 1rem; /* Tamaño de texto */
}


.btn-subir {
  display: inline-block;
  text-decoration: none;
  background-color: #0d112c; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 16px;
  padding: 10px 20px; /* Tamaño del botón */
  border: none;
  border-radius: 30px; /* Botón redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animación suave */
  cursor: pointer;
  margin-top: 20px;
}

/* Efecto hover */
.btn-subir:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
  background-color: #23263b; /* Cambia el color de fondo */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #23263b;
  transform: scale(1.05) !important; /* Efecto de zoom */

}

.contenido h2 {
  font-size: 3em;
  color: white;
}

.contenido h5 {
  font-size: 1.5em;
  color: aqua;
}

.redes-sociales {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.redes-sociales i {
  font-size: 3em;
  color: aqua;
  transition: transform 0.3s ease; /* Animación al hover */
}

.redes-sociales i:hover{
  transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
}

.redes-sociales img{
  margin-top: 5px;
  transition: transform 0.3s ease; /* Animación al hover */
}

.redes-sociales img:hover{
  transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
}


html {
  scroll-behavior: smooth;
}

.footer img {
  size: 5px;
  width: 50px;
}

/* Estilos para el botón de menú en móviles */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Ocultar el menú en móviles por defecto */
.Navegador.Menu {
  display: none;
}

/* RESPONSIVE DESIGN */

@media (max-width: 780px) {
  body {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  }

  .main, .portfolio, .about, .contacto {
    display: flex;
    flex-direction: column;  /* Asegura que las secciones estén una debajo de la otra */
    justify-content: flex-start;
    align-items: center;  /* Centra los elementos */
    width: 100%;  /* Asegura que ocupe todo el ancho disponible */
    padding: 1rem;  /* Ajusta el espacio */
    box-sizing: border-box; /* Ajusta el padding para no afectar el layout */
 }

 .main > * {
  width: 100%;
 }

 .main img {
  height: 50% !important;
  width: 50% !important; /* Ajusta el ancho de la imagen */
  max-width: 400px; /* Tamaño máximo para que no se haga demasiado grande */
  margin: 0 auto; /* Centra la imagen */
  display: block; /* Asegura que la imagen se comporte como un bloque */
}
 .main img, .about img, .portfolio img {
  max-width: 100%;  /* Asegura que las imágenes no se salgan del contenedor */
  margin-bottom: 1rem;
 }

 /* Espaciado entre las secciones */
 .main, .portfolio, .about, .contacto {
  margin-top: 1rem;
 }
 
 /* Estilo adicional para los textos */
 h1, h2, h3, p {
  text-align: center;
  width: 100%;
 }
  
  .menu-toggle {
    display: block; /* Muestra el ícono de menú */
    cursor: pointer;
    font-size: 24px;
    color: white;
  }

  .Menu li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .Menu li a {
    color: white;
    text-decoration: none;
  }
  
  .Menu li a:hover {
    background-color: #444;
  }

  .Menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    color: #333;
    top: 0;
    left: 0;
    background-color: #23263b;
    height: 100vh;
    align-items: center;
    padding-top: 50px;
    gap: 1em;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    top: 60px; /* Debe empezar después del navbar */
  }

  .Menu.active {
    visibility: visible;
    opacity: 1;
  }

  .Navegador a {
    font-size: 18px;
    padding: 1em;
    color: white;
    text-align: center;
    width: 100%;
  }

  .main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 80px;
    top: 50px;
  }

  .main a {
    font-size: 16px;
  }

  .main p {
    font-size: 18px;
    text-align: center;
  }

  .main img {
    width: 90%;
    margin: 10px 0;
  }

  .btn-cv, .btn-subir {
    padding: 8px 16px;
    font-size: 14px;
  }

  .btn-cv i, .btn-subir i {
    font-size: 14px;
  }

  .wrapper, .portfolio {
    height: auto;
    padding: 20px;
  }

  .DivNavegador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #23263b; /* Color de fondo para evitar superposición */
    z-index: 1000; /* Lo mantiene sobre otros elementos */
    padding: 10px 0;
}

.Navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 60px; /* Ajusta la altura para no superponer */
}

  .Logo {
    margin-top: -5px;
    font-size: 18px;
  }

  .Menu {
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
  }

  .Menu a {
    padding: 0.5em;
  }

  h1 {
    font-size: 2em;
  }

  .descargar-cv {
    padding: 8px 16px;
    font-size: 14px;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .about img {
    width: 100%;
    margin-bottom: 1em;
  }

  .JavaScriptClass{
    max-width: 100px;
  }

  .tech-list img {
    max-width: 90px;
  }

  .about-info {
    padding: 1em;
  }

  .about-info h2 {
    font-size: 1.5em;
  }

  .divider {
    width: 40px;
  }

  .about p {
    font-size: 16px;
  }

  .portfolio {
    padding: 20px;
  }

  .contenedor {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .InfoProyecto {
    padding: 10px;
    margin-bottom: 1em;
  }

  .InfoProyecto p {
    font-size: 12px;
  }

  .subTitulos {
    padding: 10px;
  }

  .InfoProyectos p {
    font-size: 12px;
    margin-left: 10px;
  }

  .fa-brands {
    font-size: 24px;
  }

  .contacto {
    flex-direction: column;
    height: auto;
    padding: 2em;
  }

  .contacto h2 {
    font-size: 2em;
    margin-right: 0;
  }

  .divider2 {
    width: 50px;
    margin-right: 0 !important;
  }

  .contenedor-contacto {
    width: 90vw;
    padding: 1em;
  }

  .contacto h4 {
    font-size: 1.2em;
  }

  .formulario input {
    font-size: 14px;
    padding: 8px 12px;
  }

  .formulario textarea {
    font-size: 14px;
  }

  .footer {
    padding: 1em;
  }

  .contenido h2 {
    font-size: 2em;
  }

  .contenido h5 {
    font-size: 1em;
  }

  .redes-sociales i {
    font-size: 2em;
  }

  .footer img {
    width: 40px;
  }

  .main, .portfolio, .about, .contacto {
    flex: 1;  /* Esto hace que las secciones crezcan para llenar el espacio disponible */
 }

}

